.button-style {
  background-color: $dark-green;
  padding: 8px;
  color: white;
  font-weight: 600;
  outline: solid 2px #0c905e;
  transition: outline 0.3s linear;
}
  
.button-border:hover { outline-width: 3px; };